#container{
	height: 900px;
	background: #E0E0E0;
	padding: 5px 0px;
}

#header{
	width: 1030px;
	height: 90px;
	background-color: #AAAAFF;
	background-image: url(bg.gif);
	margin: 5px auto;
	border: 1px solid;
	padding: 4px;
}

li{
	font-size: 18px;
}

#nav li{
	margin: 20px;
	width: 100px;
	float: left;
}

#lside{
	width: 250px;
	background-color: #AAAAFF;
	margin: 5px 5px 5px 150px;
	float: left;
}

#user{
	width: 220px;
	height: 200px;
	background-color: #E6CAFF;
	margin: 5px auto;
	border: 1px dotted;
	padding: 4px;
}

#weather{
	width: 220px;
	height: 100px;
	background-color: #E6CAFF;
	margin: 5px auto;
	border: 1px dotted;
	padding: 4px;
}

#link1{
	width: 220px;
	height: 300px;
	background-color: #E6CAFF;
	margin: 5px auto;
	border: 1px dotted;
	padding: 4px;
}

#rside{
	width: 770px;
	background-color: #AAAAFF;
	margin: 5px 150px 5px 5px;
	float: right;
}

#dynamic{
	width: 750px;
	height: 150px;
	background-color: #E6CAFF;
	margin: 5px auto;
}

.link2{
	width: 365px;
	height: 200px;
	background-color: #E6CAFF;
	margin: 5px;
	border: 1px dotted;
	padding: 4px;
	float: left;
}

.subtitle{
	height: 30px;
	font-size: 18px;
	background-color: #CA8EFF;
}
